{% extends 'template.html' %}
{% block content %}
    <h1>Logging out...</h1>
    <script>
        fetch('/auth/logout', {
            method: 'POST',
            credentials: 'include'
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Logout failed.');
            }
        })
        .catch(error => {
            alert('An error occurred during logout.');
        });
        setTimeout(() => {
            window.location.href = '/';
        }, 3000);
    </script>
{% endblock %}
