{% extends 'template.html' %}
{% block content %}
<body>
    <h1>Oturumdan çıkılıyor...</h1>
    <script>
        fetch('/auth/logout', {
            method: 'POST',
            credentials: 'include'
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Oturum kapatılamadı!');
            }
        })
        .catch(error => {
            alert('Oturum kapatma sırasında hata oluştu!');
        });
        setTimeout(() => {
            window.location.href = '/';
        }, 3000);
    </script>
</body>
{% endblock %}
